/*Global rule for all elements*/
* { 
  box-sizing: border-box;
}

/*Text headings*/
p, h2 {
  color: #64a19d;
}

.sectionHeading {
  text-align: center;
  padding: 10px;
}

/*Custom Nav*/
.customNav{
  background-color:  #64a19d;
  height: 60px;
}

/* Jumbotron  */
.heroBackground {
  height: calc(110vh - 25px);
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100% ), url(../images/me-graduation.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Jumbotron Copy */
.jumboCopy {
  position: absolute;
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: cornsilk;
  text-align: center;
  bottom: 25px;
}

/*content*/
.aboutContent {
  padding-top: 60px;
}

/*content padding*/
.workContent, .skillsContent, .contactContent, .scadaContent {
  padding-top: 50px;
}

.aboutContent, .workContent, .skillsContent, .scadaContent {
  background-color: rgba(255, 255, 255, 0.6);
}

/*Cards*/
.cardContainer {
  text-align: center;
  padding: 10px;
}

.contactCard{
  background-color: rgba(255, 255, 255, 0.6);
}

/*Work Section*/
.workCard {
  border-color: #64a19d;
  background-color: rgba(255, 255, 255, 0.3) ;
}

.workCard h5, p{
  color: cornsilk;
}

.workbtn:hover{
  background-color:#64a19d;
  color: black;
  font-weight: bold;
}

/*Footer*/
footer a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

footer a:hover {
  text-decoration: none;
  color: #64a19d;
  font-size: larger;
}

.social{
  padding: 60px;
}